<template>
    <div>
        <!--<b-button v-b-modal.modal-1>Launch demo modal</b-button>-->

        <b-modal id="modalNewResto" title="BootstrapVue">
            <p class="my-4">Hello from modal!</p>
        </b-modal>
    </div>
</template>

<script>
    export default {

    }
</script>
