<template>
        <div class="row ">
            <div class="col-md-8">
                <card-component>
                    <template slot='title'>
                        Card Title
                    </template>
                    <template slot='body'>
                        <multiselect v-model="menu" :options="options"></multiselect>

                         <!-- <menu-group :items="this.items" :menu='menu'></menu-group> -->
                         <!-- OR Use this -->
                         <menu-group :items="getSelectedMenuItems" ></menu-group>

                    </template>
                </card-component>
            </div>
            <div class="col-md-4">
                <card-component>
                    <template slot='title'>
                        Card Title
                    </template>
                    <template slot='body'>
                       

                    </template>
                </card-component>
            </div>
        </div>
</template>

<script>

import Multiselect from 'vue-multiselect'
import MenuGroup from './MenuGroup.vue';         
require('vue-multiselect/dist/vue-multiselect.min.css');

import _ from 'lodash'

 Vue.component('multiselect', Multiselect);

 
 export default{
    // Make a property called items holds the menus data
    props:['items'],

    components: {
        Multiselect, MenuGroup
    },
    data () {
        return {
            menu: '',
            options: [],
        }
    },
    created(){
        _.each(this.items, (val, key)=>{
            this.options.push(key);
        });

        // Default selected value
        return this.menu = this.options[0];
    },
    computed: {
        getSelectedMenuItems(){
            return this.items[this.menu];
        }
    }

}

</script>