<template>
    <table class="table table-striped">
        <thead>
            <tr>
                <th >
                    <strong>Name &#38; Description</strong>
                </th>
                <th >
                    <strong>Price</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- For sending items as computed property -->
            <tr v-for="selection in items" :key="selection.id">
                <!-- For sending items as property -->
            <!-- <tr v-for="selection in items[menu]" :key="selection.id"> -->

                <td><strong>{{selection.name}}</strong> <p> {{selection.description}}</p></td>
                <td><strong v-text="selection.price"></strong></td>
            </tr>  
            
        </tbody>
    </table>
    
</template>

<script>
export default {
    props: ['items', 'menu'],

}
</script>